<div class="container" *ngIf="loggedUser.id==1">
    <h1 class="mb-4">Crear Nuevo Plato</h1>
  

        
    <form [formGroup]="form" (ngSubmit)="submit(form)" class="bg-light p-4 rounded shadow-sm">
  
        <div class="form-group">
            <label for="nombre" class="fw-bold">Nombre:</label>
            <input 
                formControlName="nombre"
                id="nombre" 
                type="text" 
                class="form-control">
            <div *ngIf="f['nombre'].touched && f['nombre'].invalid" class="text-danger">
                <div *ngIf="f['nombre'].errors && f['nombre'].errors['required']">nombre is required.</div>
            </div>
        </div>
  
        <div class="form-group">
            <label for="descripcion" class="fw-bold">Descripción:</label>
            <textarea 
                formControlName="descripcion"
                id="descripcion" 
                type="text" 
                class="form-control">
            </textarea>
            <div *ngIf="f['descripcion'].touched && f['descripcion'].invalid" class="text-danger">
                <div *ngIf="f['descripcion'].errors && f['descripcion'].errors['required']">Descripción is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="precio" class="fw-bold">Precio:</label>
            <textarea 
                formControlName="precio"
                id="precio" 
                type="text" 
                class="form-control">
            </textarea>
            <div *ngIf="f['precio'].touched && f['precio'].invalid" class="text-danger">
                <div *ngIf="f['precio'].errors && f['precio'].errors['required']">precio is required.</div>
            </div>
        </div>
        
        <div class="form-group">
            <label for="categoria">Categoría del Plato:</label>
    <select formControlName="categoria" id="categoria" class="form-control">
      <option value="">Seleccione una opción</option>
      <option value="Entrante">Entrante</option>
      <option value="Primer Plato">Primer Plato</option>
      <option value="Segundo Plato">Segundo Plato</option>
      <option value="Bebida">Bebida</option>
      <option value="Postre">Postre</option>
    </select>
            <div *ngIf="f['categoria'].touched && f['categoria'].invalid" class="text-danger">
                <div *ngIf="f['categoria'].errors && f['categoria'].errors['required']">categoria is required.</div>
            </div>
        </div>

        <div class="form-group">
            <label for="file" class="fw-bold">File:</label>
            <input 
                formControlName="file"
                id="file" 
                type="file" 
                class="form-control"
                (change)="onSelectFile($event)">
            <div *ngIf="f['file'].touched && f['file'].invalid" class="text-danger">
                <div *ngIf="f['file'].errors && f['file'].errors['required']">File is required.</div>
            </div>
        </div>

        <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width: 500px">
        <a href="#" routerLink="/admin/plato/index" class="btn btn-primary mb-4">Back</a>
  
        <button class="btn btn-primary mt-3" type="submit" [disabled]="!form.valid">Submit</button>
    </form>
    <br><br>
</div>

<div *ngIf="loggedUser.id!==1||!isSignedIn" style="margin-bottom: 500px; margin-top: 250px;">
    <h1 style="text-align: center; color: black;">No tienes permisos para ver esta página</h1>
  </div>