.container {
    max-width: 600px; 
    margin: auto;
    padding: 20px; 
    color: #333; 
}

.bg-light {
    background-color: rgba(255, 255, 255, 0.9); 
}

.shadow-sm {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
}

.img-preview {
    width: 100%; 
    height: auto; 
    border-radius: 5px;
}

.text-center {
    text-align: center; 
}

.fw-bold {
    font-weight: bold; 
}

.mb-4, .mb-3, .mt-3, .mt-1 {
    margin-bottom: 1rem !important; 
    margin-top: 1rem !important; 
}

.btn-primary {
    background-color: #007bff; 
    border: none; 
    margin-left: 15px;
}

.text-danger {
    color: #dc3545 !important; 
}
h1{
    color: #fff;
    font-style: italic;
    font-weight: bold;
}
